* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

    body {
        background-color: #67a8c7;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

 div{
        background-color: #557a8b;
        width: 384px;
        padding: 40px;
        text-align: center; 
        border-radius: 12px;
 }

h1, p, a{
    color: #fff
}

 div img {
    border-radius: 50%;
    margin-bottom: 24px;
 }

 div h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 4px;
 }

 div strong{
      color:#043044;
      font-size: 14px;
 }

 div p{
    margin-block: 24px;
    font-size: 14px;
    list-style: 21px;
 }

 div a + a {
    margin-top: 16px;
 }
 div a {
    display:block;
    text-decoration: none;
    background-color: #134963;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
 
 